# training data
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm IDE files
.idea/

# model objects (large files)
bertron/models/*.model

# Python cached files
bertron/__pycache__/

# local module info
bertron.egg-info/
